@model SecureWebApp.Models.Card

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidUntilMonth" class="control-label"></label>
                <input asp-for="ValidUntilMonth" class="form-control" />
                <span asp-validation-for="ValidUntilMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidUntilYear" class="control-label"></label>
                <input asp-for="ValidUntilYear" class="form-control" />
                <span asp-validation-for="ValidUntilYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVC" class="control-label"></label>
                <input asp-for="CVC" class="form-control" />
                <span asp-validation-for="CVC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
